<div class="uniformNav -vertical -gray flex-fill -active-green">
    <a href="/" class="<%= "active" if current_path == "index.html" %>">
        Usage
    </a>
    <a href="/element" class="<%= "active" if current_path =~ /^element/ %>">
        Base Element
    </a>
    <div class="height-0 width-full">
        <div class="border-green-80 border-opacity-30 border-bottom border-1px width-full"></div>
    </div>
    <% links = {} %>
    <% component_names.without('element').each do |component_name|
        if component_name.include?("/")
            parts = component_name.split("/")
            links[parts.first] ||= {}
            links[parts.first][:children] ||= []
            links[parts.first][:children] << {
                path: component_name,
                title: parts.last.gsub('-', '_').camelize
            }
        else
            links[component_name] ||= {}
            links[component_name][:path] = component_name
            links[component_name][:title] = component_name.gsub('-', '_').camelize
        end
    end %>
    <% links.each do |path, link| %>
        <a href="/<%= link[:path] %>" class="<%= "active" if current_path =~ /^#{link[:path]}/ %>">
            <%= link[:title] %>
        </a>
        <% if link[:children] && current_path =~ /^#{link[:path]}/ %>
            <div class="uniformNav -vertical pad-left-2x text-sm">
                <% link[:children].each do |link| %>
                    <a href="/<%= link[:path] %>" class="<%= "active" if current_path =~ /^#{link[:path]}/ %>">
                        <%= link[:title] %>
                    </a>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>