<div class="uniformNav -vertical -gray flex-fill -active-green">
    <a href="/" class="<%= "active" if current_path == "index.html" %>">
        <%= svg("assets/images/icons/usage.svg") %>
        <span>Usage</span>
    </a>
    <a href="/element" class="<%= "active" if current_path =~ /^element/ %>">
        <%= svg("assets/images/icons/element.svg") %>
        <span>Base Element</span>
    </a>
    <div class="height-0 width-full">
        <div class="border-green-80 border-opacity-30 border-bottom border-1px width-full"></div>
    </div>
    <% links = {} %>
    <% component_names.without('element').each do |component_name|
        if component_name.include?("/")
            parts = component_name.split("/")
            links[parts.first] ||= {}
            links[parts.first][:children] ||= []
            links[parts.first][:children] << {
                path: component_name,
                title: parts.last.gsub('-', '_').camelize
            }
        else
            links[component_name] ||= {}
            links[component_name][:path] = component_name
            links[component_name][:title] = component_name.gsub('-', '_').camelize
        end
    end %>
    <% links.each do |path, link| %>
        <a href="/<%= link[:path] %>" class="<%= "active" if current_path =~ /^#{link[:path]}/ %>">
            <%= svg("assets/images/icons/#{link[:path]}.svg") %>
            <span><%= link[:title] %></span>
        </a>
        <% if link[:children] && current_path =~ /^#{link[:path]}/ %>
            <% link[:children].each do |link| %>
                <a href="/<%= link[:path] %>" class="<%= "active" if current_path =~ /^#{link[:path]}/ %>">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 42" width="32" height="42" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="15" y1="0" x2="15" y2="42"/>
                    </svg>
 
                    <span><%= link[:title] %></span>
                </a>
            <% end %>
        <% end %>
    <% end %>
</div>