<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Komps" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
</head>
<body>
    <div class="side-nav">
        <div class="pad-2x text-center">
            <a href="/" class="reset">
                <%= image_tag "logo", class: 'width-3/4 height-auto inline-block' %>
            </a>
        </div>
        <div class="uniformNav -vertical -gray flex-fill -active-green">
            <a href="/" class="<%= "active" if current_path == "index.html" %>">
                Usage
            </a>
            <a href="/element" class="<%= "active" if current_path =~ /^element/ %>">
                Base Element
            </a>
            <div class="height-0 width-full">
                <div class="border-green-80 border-opacity-30 border-bottom border-1px width-full"></div>
            </div>
            <% component_names.without('element').each do |component_name| %>
                <a href="/<%= component_name %>" class="<%= "active" if current_path =~ /^#{component_name}/ %>">
                    <%= component_name.gsub('-', '_').camelize %>
                </a>
            <% end %>
        </div>
    </div>
    <div class="main-content overflow-hidden">
        <%= yield %>
    </div>
</body>
</html>
